.button,
.select {
  appearance: none;
  border: 2px solid var(--color-bg-dark);
  border-radius: var(--radius);
  color: inherit;
  font-size: var(--text-md);
  line-height: 1.25;
  font-family: inherit;
  letter-spacing: inherit;
  /* text-transform: inherit; */
  transition-duration: var(--duration);
}

.button {
  display: inline-flex;
  z-index: 0;
  position: relative;
  column-gap: var(--space-2xs);
  align-items: center;
  justify-content: center;
  padding: var(--space-xs) var(--space-sm);
  overflow: hidden;
  background-color: var(--color-bg-dark);
  text-align: center;
  cursor: pointer;
  transition-property: background-color, border-color, color;
  user-select: none;
}

.button:hover {
  border-color: var(--color-bg-darker);
  background-color: var(--color-bg-darker);
}

.button--primary {
  border-color: var(--color-gray-darker);
  background-color: var(--color-gray-darker);
  color: var(--color-white);
}

.button--primary:hover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.button--subtle {
  background-color: transparent;
}

.button--subtle:hover {
  border-color: var(--color-bg-dark);
  background-color: var(--color-bg-dark);
}

.button__icon {
  flex-shrink: 0;
  height: var(--text-md);
  stroke: var(--color-gray-dark);
  width: var(--text-md);
  width: auto;
  transition-duration: var(--duration);
  transition-property: stroke;
}

.select {
  padding: var(--space-xs) var(--space-sm);
  padding-right: calc(var(--space-sm) + var(--space-2xs) + var(--text-md));
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='24' fill='none'%3E%3Cpath stroke='%23a2a2a9' stroke-linecap='square' stroke-width='2' d='m2 9 6 6 6-6'/%3E%3C/svg%3E");
  background-position: right var(--space-sm) center;
  background-size: auto, var(--text-md);
  background-repeat: no-repeat;
  background-color: var(--color-bg);
  transition-property: background-color, background-image, border-color,
    box-shadow;
}

.select:focus {
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='24' fill='none'%3E%3Cpath stroke='%2337383f' stroke-linecap='square' stroke-width='2' d='m2 9 6 6 6-6'/%3E%3C/svg%3E");
  box-shadow: 0 0 0 4px #d6daff;
}

.select:focus:hover {
  background-color: var(--color-bg);
}

.select:hover {
  background-color: var(--color-bg-dark);
}
