.header {
  display: flex;
  z-index: 1;
  flex-shrink: 0;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
  transition-duration: var(--duration);
  transition-property: opacity, transform;
}

.header--is-hidden {
  transform: translateY(calc(var(--space-sm) * -1));
  opacity: 0;
}

.header__logo-text {
  color: var(--color-gray-darker);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1;
}

.header__actions {
  display: flex;
  column-gap: var(--space-md);
  align-items: center;
  margin-left: auto;
}

.header__actions-button {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: var(--color-gray-dark);
  font-size: var(--text-lg);
}

.header__actions-button:hover {
  background-color: transparent;
  color: var(--color-gray-light);
}

@media screen and (max-width: 48rem) {
  .header--is-hidden {
    transform: none;
  }
  .header__logo {
    display: none;
  }
  .header__actions {
    margin-left: 0;
  }
}
