.link {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-bg-darker);
  text-decoration-thickness: 1px;
  text-underline-position: auto;
  text-underline-offset: 0.25em;
  cursor: pointer;
  transition-duration: 0.25s;
  transition-property: color, text-decoration-color;
}

.link:hover {
  text-decoration-color: var(--color-gray-dark);
}
