:focus {
  outline: none;
}

body,
html {
  overflow: hidden;
  /*scrollbar-gutter: stable;*/
}

body {
  background-color: var(--color-bg);
  color: var(--color-gray-dark);
  font-size: var(--text-base);
  line-height: 1.2;
  font-family: 'Noto Sans', sans-serif;
  text-transform: lowercase;
  transition-duration: 0.25s;
  transition-property: background-color;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 48rem) {
  body,
  html {
    overflow: visible;
  }
}
