:focus {
  outline: none;
}

html,
body {
  overflow: hidden;
  /* scrollbar-gutter: stable; */
}

body {
  background-color: var(--color-bg);
  color: var(--color-gray-dark);
  font-size: var(--text-base);
  line-height: 1.25;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.025em;
  /* text-transform: lowercase; */
  transition-duration: var(--duration);
  transition-property: background-color;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 48rem) {
  html,
  body {
    overflow: visible;
  }
}
