@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url(../fonts/ppobjectsans-regular.woff2) format('woff2'),
    url(../fonts/ppobjectsans-regular.woff) format('woff');
  font-family: 'Object Sans Regular';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url(../fonts/ppobjectsans-slanted.woff2) format('woff2'),
    url(../fonts/ppobjectsans-slanted.woff) format('woff');
  font-family: 'Object Sans Regular Slanted';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url(../fonts/ppobjectsans-heavy.woff2) format('woff2'),
    url(../fonts/ppobjectsans-heavy.woff) format('woff');
  font-family: 'Object Sans Heavy';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url(../fonts/ppobjectsans-heavyslanted.woff2) format('woff2'),
    url(../fonts/ppobjectsans-heavyslanted.woff) format('woff');
  font-family: 'Object Sans Heavy Slanted';
}
